.Block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border: 1px solid #f00;
  }
  &_navigation {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  &_navigationItem {
    border: 1px solid #f00;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
    &:visited {
      color: rgb(196, 196, 196);
    }
  }
}
