.Block {
  background-color: var(--color-light);
  padding: 10px;

  &_header {
    font-size: 1.2rem;
    font-weight: 700;
  }

  &_content {
  }

  &_email {
    text-decoration: none;
    color: var(--color-dark);

    &:hover {
      color: var(--color-dark);
      text-decoration: underline;
    }

    &:visited {
      color: var(--color-dark);
    }
  }
}
