.Block {
  border: 1px solid #00f;
  padding: 10px;
  background-color: #EBE9F8;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &_header {
    display: flex;
    justify-content: space-between;
  }

  &_customer {
  }

  &_items {
    flex: 1 1 auto;
  }
}
