.Block {
  background-color: var(--color-light);
  padding: 10px;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_header {
    font-size: 1.2rem;
    font-weight: 700;
  }

  &_content {
  }

  &_item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #F4F4F4;
    margin-bottom: 10px;
    font-size: .8rem;
  }

  &_total {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}
